.case{
    width: 240px;
    height: 385px;
    margin-left:200px;
    margin-top: 23px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
   /* border:5px solid aqua;*/
    justify-self: center;
  }
  .case:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition:0.6s;
  }
.img{
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text{
  font-family: 'Monotype Corsiva',cursive;
  font-size: 20px;
  text-align: left;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}
#casetwo{
width:225px;
height: 25px;
/*border: 5px solid fuchsia;*/
}
.price{
  font-family: 'Monotype Corsiva',cursive;
  font-size: 40px;
}
.basket {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    text-decoration: none;
    border: .5em solid rgba(0,0,0,0);
    border-radius: 100%;
    background: rgb(245,245,245) linear-gradient(rgb(245,245,245), rgb(188,192,193)) 50% 50% / calc(1.5em + .5em*2) calc(1.5em + .5em*2);
    box-shadow:
     inset 0 -3px 10px rgba(255,255,255,1),
     inset 0 3px 10px rgba(0,0,0,.4),
     0 2px 4px rgba(0,0,0,.9);
     position: absolute;
bottom: 0;
right: 0;
  }
  .Loading {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 10px;
    background:#494d5f;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    overflow: hidden;
  }
  
  .Loading:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load 5s infinite;
  }
  .percent{
    right: 0;
    border-left:1px  solid  cadetblue;
    display: inline-block;
    font-size: 15px;
    padding-left: 5px;
  }
  .order{
display: inline-block;
position:absolute;
left:0;
bottom: 10px;
color: black;
  }
  .caseone{
    width: 235px;
    height: 50px;
    position: relative;
  }
  .grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: repeat(auto,300px);
    grid-gap: 5px;
}