.mod{
  background-color: azure;
  width:25%;
  height:40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.vxod{
  text-align: center;
  font-family: 'Monotype Corsiva',cursive;
}
.form{
  margin:15px 110px;
  text-align: center;
}
.form input{
  padding: 10px;
  width: 100%;
  font-size: 15px;
background: none;
border: none;
outline: none;
}
.form :focus{
  border: 1px solid #5d80a8;
}
#id{
  background-color: #5d80a8;
  border: none;
}
.forger {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
}
.modal#popap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 0;
}
.modal-okno{
  position: relative;
  z-index: 2;
  width: 400px;
  border-radius:10px;
box-shadow: 0 10px 15px rgb(0, 0, .4);
background-color: white;
padding: 10px;
}
.close{
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: none;
  opacity: 0.5;
}
.close:hover {
  opacity: 1;
}